<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Group" >
    <id column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="deid" property="deid" jdbcType="INTEGER" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
  </resultMap>
 	<!-- 部门表下拉显示 -->
  <select id="selectGroup" resultType="com.accp.pojo.Group">
  		SELECT * FROM `group`
  </select>
</mapper>