<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.StarlevelMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Starlevel" >
    <id column="starid" property="starid" jdbcType="INTEGER" />
    <result column="starname" property="starname" jdbcType="VARCHAR" />
    <result column="multiple" property="multiple" jdbcType="REAL" />
  </resultMap>
 <select id="selectStar" resultType="com.accp.pojo.Starlevel">
 	SELECT * FROM starlevel
 </select>
 
 <select id="selectStarById" resultType="com.accp.pojo.Starlevel">
 	SELECT * FROM starlevel where starid=#{starid}
 </select>
 
 <insert id="addStar">
 	INSERT INTO starlevel VALUE(0,#{starname},#{multiple});
 </insert>
 
 <update id="updateStar">
 	UPDATE starlevel SET starname=#{star.starname},multiple=#{star.multiple} WHERE starid=#{star.starid} 
 </update>
 
 <delete id="delStar">
 	DELETE FROM starlevel  WHERE starid=#{starid}
 </delete>
 
 <delete id="delStar1">
 	DELETE FROM starlevel  WHERE starid=3
 </delete>
</mapper>