<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.VehicleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.VehicleType" >
    <id column="vtypeid" property="vtypeid" jdbcType="INTEGER" />
    <result column="enginetypeid" property="enginetypeid" jdbcType="INTEGER" />
    <result column="vtypeno" property="vtypeno" jdbcType="VARCHAR" />
    <result column="vtypename" property="vtypename" jdbcType="VARCHAR" />
    <result column="vprice" property="vprice" jdbcType="REAL" />
    <result column="vdate" property="vdate" jdbcType="DATE" />
    <result column="vpower" property="vpower" jdbcType="INTEGER" />
    <result column="fuelmark" property="fuelmark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    vtypeid, enginetypeid, vtypeno, vtypename, vprice, vdate, vpower, fuelmark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vehicletype
    where vtypeid = #{vtypeid,jdbcType=INTEGER}
  </select>
  <select id="SelectVehicleTypeAll" resultType="com.accp.pojo.VehicleTypeVo">
  	
SELECT ve.*,en.enginetypename,vebr.`vbrandname` FROM `vehicletype` AS ve , `enginetype` AS en , `vehiclebrand` AS vebr 
WHERE ve.enginetypeid = en.enginetypeid AND vebr.`vbrandid` = ve.vbrandid 
  </select>
  
  <select id="selectByIdVtypeIdKey" resultType="com.accp.pojo.VehicleTypeVo">
	SELECT ve.*,en.enginetypename,vebr.`vbrandname` FROM `vehicletype` AS ve , `enginetype` AS en , `vehiclebrand` AS vebr 
	WHERE ve.enginetypeid = en.enginetypeid AND vebr.`vbrandid` = ve.vbrandid AND `vtypeid` = #{vtypeid}
  </select>
  
  <delete id="removedeleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vehicletype
    where vtypeid = #{vtypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.VehicleType" >
    insert into vehicletype (vtypeid, enginetypeid, vtypeno, 
      vtypename, vprice, vdate, 
      vpower, fuelmark)
    values (#{vtypeid,jdbcType=INTEGER}, #{enginetypeid,jdbcType=INTEGER}, #{vtypeno,jdbcType=VARCHAR}, 
      #{vtypename,jdbcType=VARCHAR}, #{vprice,jdbcType=REAL}, #{vdate,jdbcType=DATE}, 
      #{vpower,jdbcType=INTEGER}, #{fuelmark,jdbcType=VARCHAR})
  </insert>
  
  <insert id="addinsertSelective">
    insert into vehicletype
    <trim prefix="(" suffix=")" suffixOverrides="," >
   
      <if test="vehitype.enginetypeid != null" >
        enginetypeid,
      </if>
      <if test="vehitype.vtypeno != null" >
        vtypeno,
      </if>
      <if test="vehitype.vtypename != null" >
        vtypename,
      </if>
      <if test="vehitype.vprice != null" >
        vprice,
      </if>
      <if test="vehitype.vdate != null" >
        vdate,
      </if>
      <if test="vehitype.vpower != null" >
        vpower,
      </if>
      <if test="vehitype.fuelmark != null" >
        fuelmark,
      </if>
       <if test="vehitype.vbrandid != null" >
        vbrandid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    
      <if test="vehitype.enginetypeid != null" >
        #{vehitype.enginetypeid,jdbcType=INTEGER},
      </if>
      <if test="vehitype.vtypeno != null" >
        #{vehitype.vtypeno,jdbcType=VARCHAR},
      </if>
      <if test="vehitype.vtypename != null" >
        #{vehitype.vtypename,jdbcType=VARCHAR},
      </if>
      <if test="vehitype.vprice != null" >
        #{vehitype.vprice,jdbcType=REAL},
      </if>
      <if test="vehitype.vdate != null" >
        #{vehitype.vdate,jdbcType=DATE},
      </if>
      <if test="vehitype.vpower != null" >
        #{vehitype.vpower,jdbcType=INTEGER},
      </if>
      <if test="vehitype.fuelmark != null" >
        #{vehitype.fuelmark,jdbcType=VARCHAR},
      </if>
       <if test="vehitype.vbrandid != null" >
        #{vehitype.vbrandid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="modifyByPrimaryKeySelective" parameterType="com.accp.pojo.VehicleType" >
    update vehicletype
    <set >
      <if test="vehitype.enginetypeid != null" >
        enginetypeid = #{vehitype.enginetypeid,jdbcType=INTEGER},
      </if>
      <if test="vehitype.vtypeno != null" >
        vtypeno = #{vehitype.vtypeno,jdbcType=VARCHAR},
      </if>
      <if test="vehitype.vtypename != null" >
        vtypename = #{vehitype.vtypename,jdbcType=VARCHAR},
      </if>
      <if test="vehitype.vprice != null" >
        vprice = #{vehitype.vprice,jdbcType=REAL},
      </if>
      <if test="vehitype.vdate != null" >
        vdate = #{vehitype.vdate,jdbcType=DATE},
      </if>
      <if test="vehitype.vpower != null" >
        vpower = #{vehitype.vpower,jdbcType=INTEGER},
      </if>
      <if test="vehitype.fuelmark != null" >
        fuelmark = #{vehitype.fuelmark,jdbcType=VARCHAR},
      </if>
      <if test="vehitype.vbrandid != null" >
      	vbrandid = #{vehitype.vbrandid,jdbcType=INTEGER},
      </if>
    </set>
    where vtypeid = #{vehitype.vtypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.VehicleType" >
    update vehicletype
    set enginetypeid = #{enginetypeid,jdbcType=INTEGER},
      vtypeno = #{vtypeno,jdbcType=VARCHAR},
      vtypename = #{vtypename,jdbcType=VARCHAR},
      vprice = #{vprice,jdbcType=REAL},
      vdate = #{vdate,jdbcType=DATE},
      vpower = #{vpower,jdbcType=INTEGER},
      fuelmark = #{fuelmark,jdbcType=VARCHAR}
      
    where vtypeid = #{vtypeid,jdbcType=INTEGER}
  </update>
</mapper>